@font-face {
	font-family: 'Montserrat-vs'; 
	src: url(/src/fonts/Montserrat-Italic-VariableFont_wght.ttf); 
}



.container{
    height:95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(at center, #020E15, #010101);
    padding: 10vh 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;


    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.textContainer{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    z-index: 33;
}
.header{
    color: #eafeff;
    font-family: 'Roboto Slab', serif;
    font-size: 12vw;
    z-index: 10;
    max-width: 90%;
    text-align: center;
    z-index: 33;
    margin-top: 20vh;
    
}
.span{
    font-size: 16vw;
    vertical-align: bottom;
    background-image: linear-gradient(to right, pink, skyblue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block; /* чтобы градиент применялся по ширине текста */
}
.buttonContainer{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.header1:hover{
    transform: scale(103%);
    opacity: 1;
    transition: all .3s ease;
    color:#eafeff ;
}
.header1{
    height: 9vh;
    width: 90%;
    cursor:pointer;
    background: transparent;
    border: 1px solid #658183 ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    border-radius: 10vw;
    font-size: 5vw;
    font-weight: 600;
    font-family: Agbalumo-Regular;
    opacity: .8;
}

.fon{
    position: absolute;
    top: 0vh;
    left: 0;
    height: auto;
    width: 190%;
    z-index: 2;
    opacity: 1;
    /* animation: rot 35.5s linear infinite; */
}
@keyframes rot
{
    0%{
        transform: rotate(0);
        scale: 1;
    }
    50%{
        transform: rotate(180);
        scale: .6;
        top:-10vh;
    }
    100%{
        transform: rotate(360deg);
        scale: 1;
    }
}
.container::before{
    z-index: 1;
    content: '';
    width: 200vw;
    height: 200vw;
    position: absolute;
    background:radial-gradient(rgb(0, 152, 194),transparent,transparent);
    animation: animate 15.5s linear infinite;;
    
}
@keyframes animate
{
    0%
    {
        transform: translate(0vw,-50vh);
    }
    20%
    {
        transform: translate(-30vw,-20vw);
    }
    40%
    {
        transform: translate(30vw,-20vw);
    }
    60%
    {
        transform: translate(-30vw,-70vh);
    }
    80%
    {
        transform: translate(30vw,-70vh);
    }
    100%
    {
        transform: translate(0vw,-50vh);
    }
}
.gradient{
    position: absolute;
    left: 0;
    top:0;
    height: 110vh;
    width: 100%;
    background-image: linear-gradient( 70deg,rgba(0,0,0,0),30%, rgba(0,0,0,1));
    z-index: 3;
}
