

.container{
    height: 100vh;
    width: 100%;
    background: radial-gradient(at center, #020E15, #010101);
    display: flex;
    justify-content: center;
    align-items: center;


    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.header{
    color: #eafeff;
    font-family:SeymourOne-Regular-vseSayty;
    font-size: 5vw;
    margin-top: 10vh;

}