@font-face {
	font-family: 'SeymourOne-Regular-vseSayty'; 
	src: url(/src/fonts/CormorantInfant-Regular.ttf); 
}
@font-face {
	font-family: 'Agbalumo-Regular'; 
	src: url(/src/fonts/Comfortaa-VariableFont_wght.ttf); 
}


.container{
    height: auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background: radial-gradient(at center, #020E15, #010101);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10vh 0 20vh 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.header{
    color: #eafeff;
    font-size: 4.5vw;
    font-family: SeymourOne-Regular-vseSayty;
}
.header1{
    margin-top: 10vh;
    color: #eafeff;
    font-size: 3.5vw;
    font-family: SeymourOne-Regular-vseSayty;
}
.buttonContainer{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 10vh;
}
.watsapp{
    height: 95%;
    width: 23%;
    cursor:pointer;
    background: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    border-radius: 10vw;
    font-size: 2vw;
    font-weight: 600;
    font-family: Agbalumo-Regular;
    opacity: .8;
}
.telegram{
    height: 95%;
    width: 23%;
    cursor:pointer;
    background: #1BB0DC;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    border-radius: 10vw;
    font-size: 2vw;
    font-weight: 600;
    font-family: Agbalumo-Regular;
    opacity: .8;
}
.telegram:hover{
    transform: scale(103%);
    opacity: 1;
    transition: all .3s ease;
    color:#eafeff ;
}
.watsapp:hover{
    transform: scale(103%);
    opacity: 1;
    transition: all .3s ease;
    color:#eafeff ;
}
.number:hover{
    transform: scale(103%);
    opacity: 1;
    transition: all .3s ease;
    color:#eafeff ;
}
.number{
    height: 95%;
    width: 23%;
    cursor:pointer;
    background: transparent;
    border: 1px solid #658183 ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    border-radius: 10vw;
    font-size: 2vw;
    font-weight: 600;
    font-family: Agbalumo-Regular;
    opacity: .8;
}


@media (max-width: 768px){
    .header{
        font-size: 9.5vw;
    }
    .header1{
        font-size: 6.5vw;
        margin-top: 3vh;
    }
    .buttonContainer{
        flex-direction: column;
        height: auto;
        gap: 4vh;
        margin-top: 10vh;
    }
    .telegram{
        height: 7vh;
        width: 80%;
        font-size: 5.6vw;
        margin-top: 2vh;
    }
    .watsapp{
        height: 7vh;
        width: 80%;
        font-size: 5.6vw;
        margin-top: 2vh;
    }
    .number{
        height: 7vh;
        width: 80%;
        font-size: 5.6vw;
        margin-top: 2vh;
    }
}